/**
 * Bolt.css
 * Version 0.1
 * https://github.com/tbolt/boltcss
 *
 * Sections
 * 1. Content sectioning
 * 2. Text content
 * 3. Inline text semantics
 * 4. Image and multimedia
 * 5. Tables
 * 6. Forms
 * 7. Interactive elements
 * 
 */

:root {
  --background-body: #fff;
  --background-main: #f1f1f1;
  --primary: #e23123;
  --text: #1c1d1e;
  --links: #2aa2bb;
  --border: #b8b8b8;
  --button-hover: #dddddd;
  --highlight-border-radius: 7px;
  --border-radius: 11px;
  --shadow-color: #545454;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-body: #0f0f0f;
    --background-main: #222;
    --links: #2aa2bb;
    --text: #efefef;
    --border: #444;
    --shadow-color: #bebebe;
    --table-highlight: #545454;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 12pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--text);
  background: var(--background-body);
}

/* Content sectioning */
address {
  font-style: normal;
  line-height: 1.6rem;
}

/* This sets a float right which makes it fixed */
aside {
  width: 40%;
  padding: 0.84rem;
  float: right;
  font-style: italic;
  color: var(--text);
  background-color: var(--background-main);
  border-radius: var(--border-radius);
}

/* No styles provided */
footer {
}

/* No styles provided */
header {
}

h1 {
  font-size: 26pt;
}

h2 {
  font-size: 21pt;
}

h3 {
  font-size: 17pt;
}

h4 {
  font-size: 14pt;
}

h5 {
  font-size: 12pt;
  font-weight: normal;
}

h6 {
  font-size: 10pt;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
b,
strong,
th {
  font-weight: 700;
}

/* Not provided */
hgroup {
}

/* Not provided */
main {
}

/* Not provided */
nav {
}

/* No styles */
section {
}

/* Text content */
blockquote {
  border-left: 7px solid var(--border);
  padding-left: 1em;
  margin: 0;
}

dd {
  margin-left: 0;
  padding-bottom: 11px;
}

dl {
}

dt {
  font-weight: bold;
}

figcaption {
  padding-top: 10px;
  font-size: 0.8rem;
}

figure {
  margin: 0;
}

hr {
  border: 2px solid gray;
}

ul,
ol {
}

li {
  line-height: 1.6em;
}

p {
  display: block;
  line-height: 1.6em;
}

/* Inline text elements */
a {
  color: var(--links);
}

mark,
samp,
kbd,
code,
time {
  border-radius: var(--highlight-border-radius, 4px);
}

mark {
  background-color: #e6e08e;
  padding: 3px 5px;
}

samp {
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--background-main);
  color: var(--text);
}

kbd,
time {
  padding: 2px 4px;
  background-color: var(--background-main);
  color: var(--text);
}

code {
  font-size: 1em;
  padding: 2px 4px;
  background-color: whitesmoke;
  color: black;
  border: 1px solid darkgray;
  max-width: fit-content;
  overflow-x: auto;
}

pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}

pre {
  margin: 0;
}

sup,
sub {
  line-height: normal;
}

/* Image and multimedia */
audio {
}

img {
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

video {
}

/* Table content */
table {
  width: 100%;
  margin: 10px 0;
  border: 1px solid var(--border);
  border-collapse: collapse;
}

td,
th {
  text-align: left;
  padding: 8px;
}

thead {
  border-bottom: 1px solid var(--border);
  border-collapse: collapse;
}

tfoot {
  border-top: 1px solid black;
}

table tr:hover,
tbody tr:nth-child(even):hover {
  background-color: var(--table-highlight);
}

tbody tr:nth-child(even) {
  /* background-color: var(--background); */
}

/* Form elements */
input,
button,
select,
optgroup,
textarea {
  margin: 0;
}

button,
select,
input[type="submit"],
input[type="button"],
input[type="checkbox"],
input[type="range"],
input[type="radio"] {
  cursor: pointer;
}

button {
  color: var(--text);
  background-color: var(--background-main);
  font-family: inherit;
  font-size: inherit;
  padding: 6px 15px 6px 15px;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 0px 2px 2px rgba(158, 158, 158, 0.6);
}

button:hover {
  box-shadow: 0px 3px 3px rgba(158, 158, 158, 0.6);
}

button:active {
  box-shadow: none;
  border: 1px solid rgba(158, 158, 158, 0.6);
}

label {
  display: inline-block;
}

input {
  background-color: var(--background-main);
  border: 0.5px solid var(--border);
  /* border: none; */
  color: var(--text-main);
  margin: 6px 0px;
  padding: 11px;
  border-radius: var(--border-radius);
  max-width: fit-content;
  outline: none;
}

textarea {
  font-family: inherit;
  background-color: var(--background-main);
  border: 1px solid var(--border);
  padding: 11px;
  color: var(--text-main);
  border-radius: var(--border-radius);
  outline: none;
  resize: none;
}

meter {
  height: 3em;
  vertical-align: middle;
}

fieldset {
  border: 1px var(--border) solid;
  border-radius: 6px;
  margin: 0;
  margin-bottom: 6px;
  padding: 10px;
  max-width: fit-content;
}

/* Interactive elements */
details {
  border: 1px solid #aaa;
  border-radius: 7px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}
