/**
 * Bolt.css
 * Version 1.0
 * https://github.com/tbolt/boltcss
 */

:root {
  --background-body: snow;
  --background: lightgray;  
  --text: #1c1d1e;
  --links: #0b52f7;  
  --border: #dbdbdb;  
  --button-hover: #dddddd;  
  --highlight-border-radius: 4px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-body: #181818;
  }
} */

body {
  font: 12pt -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5rem;
  text-rendering: optimizeLegibility;
  
  max-width: 800px; 
  margin: 20px auto;
  padding: 0 20px;

  color: var(--text);
  background: var(--background-body);
}






/* Content sectioning */
address {
  font-style: normal;
}

/* Revist this after seeing what others do. Probably dont need to style */ 
article {

}

aside {
  width: 40%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  background-color: white;
  font-style: italic;
  color: var(--text);
}

footer {
  
}

header {
  
}

h1 {
  font-size: 2.4em;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
  font-weight: 700;
}

hgroup {
  
}

main {
  
}

nav {
  
}

section {
  
}










/* Text content */
blockquote {
  border-left: 3px solid gray;
  padding-left: 1em;
}

dd {
  
}

dl {
  
}

dt {
  
}

figcaption {
  
}

figure {
  
}

hr {
  border: 2px solid gray;
}

ul, ol {
  
}

li {
  
}

p {
  display: block;
}















/* Inline text elements */
a {
  color: var(--links);
}

mark, samp, kbd, code, time {
  border-radius: var(--highlight-border-radius, 4px);
}

mark {
  background-color: #fff680;
  padding: 3px 5px;
}

samp {
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--background);
  color: var(--text-main);
}

kbd, time {
  padding: 2px 4px;
  background-color: var(--background);
  color: var(--text-main);
}

code {
  font-size: 1em;
  padding: 2px 4px;
  background-color: whitesmoke;
  color: black;
  border: 1px solid darkgray;
}

pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}

sup, sub {
  line-height: normal;
}













/* Image and multimedia */
audio {
  
}

img {
  max-width: 100%;
  height: auto;
}

video {
  
}









/* Table content */















/* Forms */

















/* Interactive elements */