/**
 * Bolt.css
 * Version 1.0
 * https://github.com/tbolt/boltcss
 */
 
 
 
/*  
Main sections
1. Content Sectioning
2. Text content
3. Inline text semantics
4. Image and multimedia
5. Tables
6. Forms
7. Interactive elements
*/ 
  
:root {
  --background-body: snow;
  --background: #ededf0;  
  --primary: #e23123;
  --text: #1c1d1e;
  --links: #0066df;  
  --border: #dbdbdb;  
  --button-hover: #dddddd;  
  --highlight-border-radius: 3px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-body: #181818;
  }
} */

body {
  font: 12pt -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6rem;
  text-rendering: optimizeLegibility;

  color: var(--text);
  background: var(--background-body);
}






/* Content sectioning */
address {
  font-style: normal;
}

/* Revisit this after seeing what others do. Probably don't need to style */ 
article {

}

/* This sets a float right which makes it fixed */
aside {
  width: 40%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  background-color: white;
  font-style: italic;
  color: var(--text);
}

/* No styles provided */
footer {
  
}

/* No styles provided */
header {
  
}

h1 {
  font-size: 2.4em;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
  font-weight: 700;
}

/* Not provided */
hgroup {
  
}

/* Not provided */
main {
  
}

/* Not provided */
nav {
  
}

/* No styles */
section {
  
}










/* Text content */
blockquote {
  border-left: 3px solid gray;
  padding-left: 1em;
  margin: 0;
}

dd {
  margin-left: 0;
  padding-bottom: 5px;
}

dl {

}

dt {
  font-weight: bold;
}

figcaption {
  font-size: .8rem;
}

figure {
  margin: 0;
}

hr {
  border: 2px solid gray;
}

ul, ol {
  
}

li {
  
}

p {
  display: block;
}




/* Inline text elements */
a {
  color: var(--links);
}

mark, samp, kbd, code, time {
  border-radius: var(--highlight-border-radius, 4px);
}

mark {
  background-color: #fff680;
  padding: 3px 5px;
}

samp {
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--background);
  color: var(--text-main);
}

kbd, time {
  padding: 2px 4px;
  background-color: var(--background);
  color: var(--text-main);
}

code {
  font-size: 1em;
  padding: 2px 4px;
  background-color: whitesmoke;
  color: black;
  border: 1px solid darkgray;
}

pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}

pre {
  margin: 0;
}

sup, sub {
  line-height: normal;
}













/* Image and multimedia */
audio {
  
}

img {
  max-width: 100%;
  height: auto;
}

video {
  
}









/* Table content */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
}

td,
th {
  text-align: left;
  padding: 8px;
}

thead {
  border-bottom: 1px solid black;
}

tfoot {
  border-top: 1px solid black;
}

tbody tr:nth-child(even) {
  background-color: var(--background);
}














/* Form elements */
button {
  color: var(--text);
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  padding: 6px 15px 6px 15px;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 0px 2px 2px rgba(158,158,158,.6);
}

button:hover {
  box-shadow: 0px 3px 3px rgba(158,158,158,.6);   
}

button:active {
  box-shadow: none;
  border: 1px solid rgba(158,158,158,.6);
}

/* revist this... */
button, select, input[type="submit"], input[type="button"], input[type="checkbox"], input[type="range"], input[type="radio"] {
  cursor: pointer;
}

meter {

}

fieldset {
  border: 1px var(--border) solid;
  border-radius: 6px;
  margin: 0;
  margin-bottom: 6px;
  padding: 10px;
}












/* Interactive elements */
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}