/* Demo page support */
.demo-body {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.demo-header {
  margin-top: 40px;
  font-weight: 700;
  font-size: 1rem;
}

.demo-topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.demo-footer {
  padding-top: 5rem;
}

.demo-break {
  margin-top: 6rem;
}

.demo-code {
  display: block;
  margin-top: 1em;
  white-space: nowrap;
}

.form-example {
  margin-bottom: 0.66em;
}

.misc-components {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#fuel {
  max-width: 600px;
  min-width: 200px;
}

audio {
  width: 100%;
}
