/* Demo page support */
.demo-body {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

.demo-header {
  margin-top: 40px;
  font-weight: 700;
}

.demo-break {
  margin-top: 6rem;
}

.demo-code {
  display: block;
}

.misc-components {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". .";
}

#fuel {
  max-width: 600px;
  min-width: 200px;
}
